{
  "printWidth": 140,
  "singleQuote": true,
  "quoteProps": "preserve",
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "ignore",
  "trailingComma": "es5"
}
