@keyframes shrinkHeader {
  from {
    height: 120vh;
  }

  to {
    height: 45vh;
  }
}

@keyframes headerTitleAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes expandCoverPhoto {
  from {
    height: 45vh;
  }

  to {
    height: 120vh;
  }
}

@keyframes skeletonLoading {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(100%);
  }
}
