.services {
  margin: 10rem 5rem 15rem 5rem;

  @media screen and (max-width: 460px) {
    margin: 10rem 3rem 15rem 3rem;
  }

  @media screen and (max-width: 460px) {
    margin: 10rem 2rem 15rem 2rem;
  }

  .service {
    display: flex;
    align-items: center;

    @media screen and (max-width: 1300px) {
      flex-direction: column;
    }

    @media screen and (max-width: 460px) {
      padding-bottom: 3rem;
    }
  }

  .image {
    width: 24rem;
    margin-right: 2rem;

    @media screen and (max-width: 1300px) {
      width: 100%;
      margin-right: 0;
    }

    @media screen and (max-width: 1024px) {
      width: 19rem;
    }

    @media screen and (max-width: 460px) {
      width: 100%;
      margin-right: 0;
    }
  }

  .content {
    @media screen and (max-width: 1300px) {
      width: 100%;
      margin-top: 2rem;
    }

    @media screen and (max-width: 460px) {
      text-align: center;
      margin-top: 2rem;
    }
  }

  .main-title {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
  }

  .description {
    margin-top: 1rem;
  }

  .vertical-margin {
    margin-top: 7rem;

    @media screen and (max-width: 1024px) {
      margin-top: 0;
    }
  }
}
